<!doctype html>
<html>
<head>
  <title>Pulse</title>
  <link rel="icon" type="image/png" href="/static/img/kettlebell.png"/>

  <link rel="stylesheet" href="/static/css/styles.css">

  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


</head>

<body>

<div id="wrap">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
                <a class="navbar-brand" href="/" id="brand">
                        <img alt="Brand" src="/static/img/design.png" style="height:55px; width: 100px; margin-top:-15px;">
                </a>
                <form action="/studios" class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                    <input type="text" class="form-control" name="location" placeholder="Location" required>
                     <input type="text" class="form-control" name="term" placeholder="Activity or Studio" required>
                    </div>
                    <input type="submit" class="btn btn-default" value="Search">
                </form>
              </div> <!--close header-->
            {% if not session.user %}
            <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
              <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          </div>
            {% endif %}
            {% if session.user %}
            <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/user/{{ session.user }}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </div>
            {% endif %}
        </div>
</nav>

<footer id="footer">
  <div class="container-fluid">
  </div>  
</footer>
    <ul>
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
    </ul>

<!--     {% if not session.user %}
    <a href="/register"><button type="button">Register</button></a>

    <br>

    <a href="/login"><button type="button">Login</button></a>
    {% endif %}

    {% if session.user %}
    <a href="/logout"><button type="button">Logout</button></a> 
    {% endif %}

    <form action="/studios">
    <label>Discover new workout classes:
        <input type="text" name="zipcode" value="Zipcode">
    </label>
    <input type="submit" value="Search">
    </form> -->


  {% block content %} put your content here {% endblock %}

</div>

</body>
</html>