{% extends 'base.html' %}
{% block content %}

<div id="homepagesearch">
    <form action="/studios" class="form-inline">
    <label><h1 id="homepageheader">Discover new workout classes:</h1>
        <div class="form-group">
        <input type="text" name="location" class="form-control" placeholder="Location" required>
        </div>
        <div class="form-group">
        <input type="text" name="term" class="form-control" placeholder="Activity or Studio" required>
        </div>
    </label>
    <br>
    <input type="submit" value="Search" class="btn btn-default">
    </form>
</div>

{% endblock %}