{% extends 'base.html' %}
{% block content %}

<h1>Register below:</h1>

<form>
    <label for="field-firstname">First name</label>
        <input type="text" name="firstname" id="field-firstname">
    <label for="field-lastname">Last name</label>
        <input type="text" name="lastname" id="field-lastname">
    <label for="field-email">Email</label>
        <input type="text" name="email" id="field-email">
    <label for="field-password">Password</label>
        <input type="password" name="password" id="field-password">
    <label for="field-city">City</label>
        <input type="text" name="city" id="field-city">
    <label for="field-state">State</label>
        <input type="text" name="state" id="field-state">
    <label for="field-zipcode">Zipcode</label>
        <input type="text" name="zipcode" id="field-zipcode">
    <input type="submit">
</form>

{% endblock %}