{% extends 'base.html' %}
{% block content %}

<h1>Register below:</h1>

<form action='/registration-verification' method='POST'>
    <label for="field-firstname">First name:</label>
        <input type="text" name="firstname" id="field-firstname" required>
    <br>
    <label for="field-lastname">Last name:</label>
        <input type="text" name="lastname" id="field-lastname" required>
    <br>
    <label for="field-email">Email:</label>
        <input type="text" name="email" id="field-email" required>
    <br>
    <label for="field-password">Password:</label>
        <input type="password" name="password" id="field-password" required>
    <br>
    <label for="field-city">City:</label>
        <input type="text" name="city" id="field-city" required>
    <br>
    <label for="field-state">State:</label>
        <input type="text" name="state" id="field-state" required>
    <br>
    <label for="field-zipcode">Zipcode:</label>
        <input type="text" name="zipcode" id="field-zipcode" required>
    <br>
    <input type="submit">
</form>

{% endblock %}