{% extends 'base.html' %}
{% block content %}

<h2>Write a review!</h2>

<form action="/review/studio" id="reviewform" method="POST">
    <input type="hidden" name="studio_id" value={{ id }}>
    <div id="required">
    <fieldset>
        <legend>Give an overall rating:</legend>
            <input type="radio" name="overall_rating" value="1">1
            <input type="radio" name="overall_rating" value="2">2
            <input type="radio" name="overall_rating" value="3">3
            <input type="radio" name="overall_rating" value="4">4
            <input type="radio" name="overall_rating" value="5">5
    </fieldset>

    <fieldset>
        <legend>Rate the studio:</legend>
            <p>Amenities</p>
            <input type="radio" name="amenities_rating" value="1">1
            <input type="radio" name="amenities_rating" value="2">2
            <input type="radio" name="amenities_rating" value="3">3
            <input type="radio" name="amenities_rating" value="4">4
            <input type="radio" name="amenities_rating" value="5">5
            <p>Cleanliness</p>
            <input type="radio" name="cleanliness_rating" value="1">1
            <input type="radio" name="cleanliness_rating" value="2">2
            <input type="radio" name="cleanliness_rating" value="3">3
            <input type="radio" name="cleanliness_rating" value="4">4
            <input type="radio" name="cleanliness_rating" value="5">5
    </fieldset>

    <fieldset>
        <legend>Rate the classes:</legend>
            <p>Class size</p>
            <input type="radio" name="class_size_rating" value="1">1
            <input type="radio" name="class_size_rating" value="2">2
            <input type="radio" name="class_size_rating" value="3">3
            <input type="radio" name="class_size_rating" value="4">4
            <input type="radio" name="class_size_rating" value="5">5
            <p>Class schedule</p>
            <input type="radio" name="schedule_rating" value="1">1
            <input type="radio" name="schedule_rating" value="2">2
            <input type="radio" name="schedule_rating" value="3">3
            <input type="radio" name="schedule_rating" value="4">4
            <input type="radio" name="schedule_rating" value="5">5
            <p>Class pace</p>
            <input type="radio" name="pace_rating" value="1">Barely broke a sweat
            <input type="radio" name="pace_rating" value="3">Decent workout
            <input type="radio" name="pace_rating" value="5">I was dying!
    </fieldset>
    </div>
    <fieldset>
        <legend>Share more about your experience:</legend>
        <label>Who was your instructor?</label>
        <input type="text" name="name" value="name">
        <p>What'd you think?</p>
        <input type="radio" name="instructor_rating" value="1">1
        <input type="radio" name="instructor_rating" value="2">2
        <input type="radio" name="instructor_rating" value="3">3
        <input type="radio" name="instructor_rating" value="4">4
        <input type="radio" name="instructor_rating" value="5">5
        <p><label>What's been your favorite class or class time?</label></p>
        <input type="text" name="fav_class" value="favorite class">
<!--Need to figure out how to show more forms to review multiple instructors-->
    </fieldset>

    <fieldset>
        <input type="submit" value="Submit">
    </fieldset>
    

</form>

<script>

//prevent form submission if fields are not filled out

// $('#reviewform').on('submit', function (evt) {
//     var required = reviewform.getElementById("#required");
//     var allInputs = reviewform.getElementsByTagName('input');
//     var input, i;

//     for(i = 0; input = allInputs[i]; i++) {
//         if(!input.value) {
//         alert("Please select a value for each field");
//         evt.preventDefault();
//         }
//     }
    
// });
</script>

{% endblock %}