{% extends 'base.html' %}
{% block content %}

<div class="container">

<div class="row">

<div class="col-xs-12 col-md-6 col-lg-9">

<h2>Write a review!</h2>

<form action="/review/studio" id="reviewform" method="POST">
    <input type="hidden" name="studio_id" value={{ id }}>
    <fieldset>
        <legend>Rate the studio:</legend>
            <h4>Amenities</h4>
            <div>
            <span>None.</span>
            <label class="radio-inline">
            <input type="radio" name="amenities_rating" value="1" required>1
            </label>
            <label class="radio-inline">
            <input type="radio" name="amenities_rating" value="2">2
            </label>
            <label class="radio-inline">
            <input type="radio" name="amenities_rating" value="3">3
            </label>
            <label class="radio-inline">
            <input type="radio" name="amenities_rating" value="4">4
            </label>
            <label class="radio-inline">
            <input type="radio" name="amenities_rating" value="5">5
            </label>
            <span>Showers and lockers galore!</span>
            </div>
            <h4>Cleanliness</h4>
            <div>
            <span>So gross.</span>
            <label class="radio-inline">
            <input type="radio" name="cleanliness_rating" value="1" required>1
            </label>
            <label class="radio-inline">
            <input type="radio" name="cleanliness_rating" value="2">2
            </label>
            <label class="radio-inline">
            <input type="radio" name="cleanliness_rating" value="3">3
            </label>
            <label class="radio-inline">
            <input type="radio" name="cleanliness_rating" value="4">4
            </label>
            <label class="radio-inline">
            <input type="radio" name="cleanliness_rating" value="5">5
            </label>
            <span>Spotless!</span>
            </div>
    </fieldset>

    <fieldset>
        <legend>Rate the classes:</legend>
            <h4>Class size</h4>
            <div>
            <span>Always way too crowded.</span>
            <label class="radio-inline">
            <input type="radio" name="class_size_rating" value="1" required>1
            </label>
            <label class="radio-inline">
            <input type="radio" name="class_size_rating" value="2">2
            </label>
            <label class="radio-inline">
            <input type="radio" name="class_size_rating" value="3">3
            </label>
            <label class="radio-inline">
            <input type="radio" name="class_size_rating" value="4">4
            </label>
            <label class="radio-inline">
            <input type="radio" name="class_size_rating" value="5">5
            </label>
            <span>Never too packed!</span>
            </div>
            <h4>Class schedule</h4>
            <div>
            <span>Can never find a class that works for me.</span>
            <label class="radio-inline">
            <input type="radio" name="schedule_rating" value="1" required>1
            </label>
            <label class="radio-inline">
            <input type="radio" name="schedule_rating" value="2">2
            </label>
            <label class="radio-inline">
            <input type="radio" name="schedule_rating" value="3">3
            </label>
            <label class="radio-inline">
            <input type="radio" name="schedule_rating" value="4">4
            </label>
            <label class="radio-inline">
            <input type="radio" name="schedule_rating" value="5">5
            </label>
            <span>Plenty of options throughout the week!</span>
            </div>
            <h4>Class pace</h4>
            <div>
            <label class="radio-inline">
            <input type="radio" name="pace_rating" value="1" required>Didn't break a sweat.
            </label>
            <label class="radio-inline">
            <input type="radio" name="pace_rating" value="2">Pretty good workout.
            </label>
            <label class="radio-inline">
            <input type="radio" name="pace_rating" value="3">I was dying!
            </label>
            </div>
    </fieldset>
    <fieldset>
        <legend>Share more about your experience:</legend>
        <label>Who was your instructor?</label>
        <label class="radio-inline">
        <div class="form-group">
        <input type="text" name="name" placeholder="Name" class="form-control">
        </div>
        </label>
        <p>What'd you think?</p>
        <span>Never again!</span>
        <label class="radio-inline">
        <input type="radio" name="instructor_rating" value="1">1
        </label>
        <label class="radio-inline">
        <input type="radio" name="instructor_rating" value="2">2
        </label>
        <label class="radio-inline">
        <input type="radio" name="instructor_rating" value="3">3
        </label>
        <label class="radio-inline">
        <input type="radio" name="instructor_rating" value="4">4
        </label>
        <label class="radio-inline">
        <input type="radio" name="instructor_rating" value="5">5
        </label>
        <span>Best ever!</span>
        <p><label>Any other tips to share?</label></p>
        <div class="form-group">
        <input type="textarea" name="tip_text" class="form-control" rows="3" style="width: 50%;">
        </div>
<!--Need to figure out how to show more forms to review multiple instructors-->
    </fieldset>

    <fieldset>
        <input type="submit" value="Submit" id="reviewsubmit" class="btn btn-default">
    </fieldset>
</form>

</div> <!--close column-->
</div> <!--close row-->
</div> <!--close container-->

{% endblock %}