
{% extends 'base.html' %}
{% block content %}

<div class="container">

<div class="row">

{% for studio in studios %}
<div class="col-xs-12 col-md-6 col-lg-push-1 col-lg-3" id="studio_overview">
    <!-- <img id="studio_pic" src="{{ studio.image_url }}"> -->
    <h3>{{ studio.name }}</h3>
    <p><img src ="{{ studio.rating_img_url }}"><img style="width:60px; height:30px" src="/static/img/yelp.png"></p>
    <h4>Categories:</h4>
    <ul>
        {% for category in studio.categories %}
        <h5>{{ category.name }}</h5>
        {% endfor %}
    </ul>
    <div id="map" data-latitude={{ latitude }} data-longitude={{ longitude }} data-name={{ name }}></div>
    <h4>Address:</h4>
    <p>{{ studio.location.display_address[0] }}, {{ studio.location.display_address[2] }}</p>
</div>


<div class="col-xs-12 col-md-6 col-lg-push-1 col-lg-3" id="ratings">
    <h4>Ratings:</h4>
    {% if 1 > review_count %}
    <p>This studio hasn't been reviewed yet.</p>
    {% else %}
    <h5><span style="font-weight:bold;">Review count:</span> {{ review_count }}</h5>
    <h5><span style="font-weight:bold;">Individualized score:</span> {% if individual_stars %}
                                {% for star in individual_stars %}
                                <span class="glyphicon glyphicon-star"></span>
                                {% endfor %}
                                {% for star in individual_empties %}
                                <span class="glyphicon glyphicon-star-empty"></span>
                                 {% endfor %}
                              {% else %}
                              <p>Set your preferences to get an individualized score for each studio!</p>
                              {% endif %}
    </h5>
    <h5><span style="font-weight:bold;">Amenities score:</span> {% for star in amenities_stars%}
                        <span class="glyphicon glyphicon-star"></span>
                         {% endfor %}
                         {% for star in amenities_empties %}
                         <span class="glyphicon glyphicon-star-empty"></span>
                          {% endfor %}
    </h5>
    <h5><span style="font-weight:bold;">Cleanliness score:</span> {% for star in cleanliness_stars %}
                            <span class="glyphicon glyphicon-star"></span>
                            {% endfor %}
                            {% for star in cleanliness_empties %}
                            <span class="glyphicon glyphicon-star-empty"></span>
                             {% endfor %}
    </h5>
    <h5><span style="font-weight:bold;">Class size score:</span> {% for star in class_size_stars %}
                          <span class="glyphicon glyphicon-star"></span>
                          {% endfor %}
                          {% for star in class_size_empties %}
                          <span class="glyphicon glyphicon-star-empty"></span>
                           {% endfor %}
    </h5>
    <h5><span style="font-weight:bold;">Schedule score:</span> {% for star in schedule_stars %}
                        <span class="glyphicon glyphicon-star"></span>
                        {% endfor %}
                        {% for star in schedule_empties %}
                        <span class="glyphicon glyphicon-star-empty"></span>
                         {% endfor %}
    </h5>
    <h5><span style="font-weight:bold;">Pace of these classes:</span> 
    {{ pace_rating }}
    </h5>
    {% endif %}
    {% if session.user %}
    <p><a href="/write-a-review/{{ id }}"><button type="button" class="btn btn-default">Review this studio</button></a></p>

    {% if favorited %}
    <div id="favorite-div">
        <button class="btn btn-default" style="color:red" id="favorite" data-id={{ id }}>
            <span class="glyphicon glyphicon-heart"></span> Favorite
        </button>
        <br>
        <span id="favorite-studio">This is one of your favorites!</span>
    </div>
    {% endif %}

    {% if not favorited %}
    <div id="favorite-div">
        <button class="btn btn-default" id="favorite" data-id={{ id }}>
            <span class="glyphicon glyphicon-heart"></span> Favorite
        </button>
        <span id="notes"></span>
        <span id="favorite-studio"></span>
    </div>
    {% endif %}

    {% endif %}
</div>

<div class="col-xs-12 col-md-6 col-lg-push-1 col-lg-3" id="top">
    <h4>Top Instructor:</h4>
          <p><span style="font-weight:bold;">Name:</span> {{ top_instructor }}</p> 
            <p><span style="font-weight:bold;">Rating:</span> 
            {% for star in instructor_stars %}
            <span class="glyphicon glyphicon-star"></span>
            {% endfor %}
            {% for star in instructor_empties %}
            <span class="glyphicon glyphicon-star-empty"></span>
            {% endfor %}
          </p>
    <h4>Tips:</h4>
    <ul>
    {% for tip in tips[:5] %}
    {% if tip %}
    <p>{{ tip }}</p>
    {% endif %}
    {% endfor %}
    </ul>
</div>

</div> <!--closing row -->

<div class="row">
<div class="col-xs-12 col-md-6 col-lg-push-1 col-lg-9" class=" table">
    {% if 1 > review_count %}
    <p>Be the first to review this studio!</p>
    {% endif %}
    <table class="table table-bordered table-condensed"> 
    <caption><h4>Studio Reviews:</caption></h4>
    <tr>
      <th>Amenities Rating</th>
      <th>Cleanliness Rating</th>
      <th>Class Size Rating</th>
      <th>Schedule Rating</th>
      <th>Pace Rating</th>
    </tr>
    {% for review in reviews[:10] %}
    <tr>
        <td>{{ review.amenities_rating }}</td>
        <td>{{ review.cleanliness_rating }}</td>
        <td>{{ review.class_size_rating }}</td>
        <td>{{ review.schedule_rating }}</td>
        <td>{{ review.pace_rating }}</td>
    </tr>
    {% endfor %}
    </table>
</div>
</div> <!--closing row -->

    {% for instructor in instructors %}
    <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-offset-1 col-lg-3" class="table">
    <table class="table table-bordered table-condensed"> 
    {% if instructors %}
    <caption><h4>Instructor Reviews:</h4></caption>
    <caption><h5>Let us know if an instructor has switched studios by clicking the button by their name.</h5></caption>
    {% endif %}
    <tr>
      <th>Instructor Name</th>
      <th>Rating</th>
    </tr>
    {% for review in instructor.instructorreviews[:1] %}
        {% if review.instructor.name %}
            <tr>
            <td>{{ review.instructor.name }}</td>
            <td>{{ review.rating }}</td>
            </tr>
    </table>
    </div> <!--close column-->
    <div class="col-xs-12 col-md-6 col-lg-1">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" id="instructorbtn"><span class="glyphicon glyphicon-edit"></span></button>
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Tell us where this instructor's moved!</h4>
                      </div>
                      <div class="modal-body">
                        <form role="form" id="instructorform">
                            <div class="form-group">
                              <label for="name">Instructor Name</label>
                              <input type="text" class="form-control" id="name" value="{{ review.instructor.name }}">
                            </div>
                            <div class="form group">
                            <input type="hidden" name="studio_id" value="{{ studio.id }}">
                            </div>
                            <div class="form-group">
                              <label for="studio">Studio</label>
                              <input type="text" class="form-control" id="studio" placeholder="Name of new studio" value="">
                            </div>
                              <div class="form-group">
                              <label for="zipcode">Zipcode</label>
                              <input type="text" class="form-control" id="zipcode" placeholder="Zipcode of new studio" value="">
                            </div>
                           <button type="submit" class="btn btn-default btn-success btn-block" id="formsubmit"></span>Submit</button>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div> <!-- close column -->
</div> <!-- close row -->


{% endfor %}

</div> <!--closing container -->


    <script>

        //send the studio id to the server and query the db to check if
        //the button has already been favorited...apply styling and
        //send info to route for adding/removing from db
       function checkFavorite(evt) {
            var data = {
                        "studio_id": $("#favorite").data('id'),
                        };
          $.get('/check-if-favorite', data, function (results) {
            // debugger
                if (results == "false") {
                    $.post('/favorite/studio', data, function (data) {
                        $('#favorite-studio').text('You favorited this!');
                        $('#favorite').css('color', 'red');
                        });
                    }
                else if (results == "true") {
                    $.post('/unfavorite/studio', data, function (data) {
                        $('#favorite-studio').text('You unfavorited this.');
                        $('#favorite').css('color', '');
                        });  
                    }
                });
            }


        $('#favorite').on('click', checkFavorite);

        var latitude = $("#map").data('latitude');

        var longitude = $("#map").data('longitude');

        var name = $("#map").data('name');

        // google.maps.event.addDomListener(window, 'load', initMap);

     
        var map;
        function initMap() {

            var myLatLng = {lat: latitude, lng: longitude}
            map = new google.maps.Map(document.getElementById('map'), {
              center: myLatLng,
              zoom: 15
            });
              
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: name
                });
        }

        // $("#myModal").onclick.modal("show");

        //get form inputs and send to server via AJAX
        function getInputs(evt) {
            evt.preventDefault();
            var data = {
                        "studio_id": '{{ id }}',
                        "studio": $('#studio').val(),
                        "zipcode": $('#zipcode').val(),
                        "name": $('#name').val()
                        }
            $.post('/instructor-move-form', data, function () {
                $("#myModal").modal("hide");
            });
        }

        $('#formsubmit').on('click', getInputs);
     
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOw5Cog-7VVeGLqF9TRxbHu81-RxKdKUk&callback=initMap">
    </script>


{% endblock %}