{% extends 'base.html' %}
{% block content %}

{% for studio in studios %}
<div>
    <img src="{{ studio.image_url }}">
    <h3>{{ studio.name }}</h3>
    <h4>Address:</h4>
    {% for item in studio.location.display_address %}
    <p>{{ item }}</p>
    {% endfor %}
    <h4>Categories:</h4>
    <ul>
        {% for category in studio.categories %}
        <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
    <img src ="{{ studio.rating_img_url }}">
</div>
<hr>


<div>
    <h4>Ratings</h4>
    <p>Overall score: {{ studio_db.overall_rating }}</p>
    <p>Amenities score: {{ studio_db.amenities_rating }}</p>
    <p>Cleanliness score: {{ studio_db.cleanliness_rating }}</p>
    <p>Class size score: {{ studio_db.class_size_rating }}</p>
    <p>Schedule score: {{ studio_db.schedule_rating }}</p>
    <p>What people are saying about the pace of this class: 
    {{ studio_db.pace_rating }}
    </p>
</div>

<div>
    <h4>Top Instructors</h4>
    <p></p>
</div>

<div>
    <h4>Reviews</h4>
</div>
{% if session.user %}
<a href="/write-a-review/{{ id }}"><button type="button">Review this studio</button></a>


{% if favorited %}
<div id="favorite-div">
    <button style="color:red" id="favorite" data-id={{ id }}>
        <span class="glyphicon glyphicon-heart"></span> Favorite
    </button>
    <span id="notes"></span>
    <span id="favorite-studio">This is one of your favorites!</span>
</div>
{% endif %}

{% if not favorited %}
<div id="favorite-div">
    <button id="favorite" data-id={{ id }}>
        <span class="glyphicon glyphicon-heart"></span> Favorite
    </button>
    <span id="notes"></span>
    <span id="favorite-studio"></span>
</div>
{% endif %}

{% endif %}

{% endfor %}

    <script>

        //send the studio id to the server and query the db to check if
        //the button has already been favorited...apply styling and
        //send info to route for adding/removing from db
       function checkFavorite(evt) {
            var data = {
                        "studio_id": $("#favorite").data('id'),
                        };
          $.get('/check-if-favorite', data, function (results) {
            // debugger
                if (results == "false") {
                    $.post('/favorite/studio', data, function (data) {
                        $('#favorite-studio').text('You favorited this!');
                        $('#favorite').css('color', 'red');
                        });
                    }
                else if (results == "true") {
                    $.post('/unfavorite/studio', data, function (data) {
                        $('#favorite-studio').text('You unfavorited this.');
                        $('#favorite').css('color', '');
                        });  
                    }
                });
            }


        $('#favorite').on('click', checkFavorite);

    
    </script>

{% endblock %}