{% extends 'base.html' %}
{% block content %}

<div class="container">

<div class="row">
<div class="col-xs-12 col-md-6 col-lg-push-1 col-lg-3" id="profile_info">
  <div id="profpic">
      <img id="profile" src="/static/img/profile.jpg">
  </div>
  <h3>{{ first_name }} {{ last_name }}</h3>
  <h4>{{ city }}, {{ state }}</h4>
</div>



<div class="col-xs-12 col-md-6 col-lg-push-1 col-lg-3" id="favorite_studios">
    <h4>My Favorite Studios:</h4>
    {% for favorite in favorites %}
    <a href="/studios/{{ favorite.studio_id }}">
        <p style="font-weight:bold;"><span style="color:red" class="glyphicon glyphicon-heart"></span> {{ favorite.studio.name }}</p>
    </a>
    <span id="notes"></span>
    {% endfor %}
</div>



<div id="preferences" class="col-xs-12 col-md-6 col-lg-push-1 col-lg-3">
    <h4>Studio Preferences:</h4>
    {% if 1 > user.amenities_pref %}
    <h5>Set your preferences by clicking the button below!</h5>
    {% else %}
    <h5>Amentiies: {{ amenities }}</h5>
    <h5>Cleanliness: {{ cleanliness }}</h5>
    <h5>Class size: {{ class_size }}</h5>
    <h5>Class schedule: {{ schedule }}</h5>
    <h5>Class pace: {{ pace }}</h5>
    {% endif %}
     <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" id="prefbtn">Update <span class="glyphicon glyphicon-cog"></span></button>

    <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h4 class="modal-title">Update Your Preferences</h4>
             <h5 class="modal-title">Let us know what you're looking for in a workout studio so we can help you find the best fit.</h5>
            </div>
            <div class="modal-body">
              <form role="form">
                <div class="form-group">
                  <label for="amenities">How important are the amenities? (showers, lockers, etc.)</label>
                  <br>
                  <input type="radio" name="amenities" value="1" required>Doesn't matter.
                  <input type="radio" name="amenities" value="5">Meh.
                  <input type="radio" name="amenities" value="10">Super important!
                </div>
                <div class="form-group">
                 <label for="cleanliness">Cleanliness?</label>
                  <br>
                  <input type="radio" name="cleanliness" value="1" required>Doesn't matter.
                  <input type="radio" name="cleanliness" value="5">Meh.
                  <input type="radio" name="cleanliness" value="10">Super important!
                </div>
                <div class="form-group">
                 <label for="class_size">Class size? (do you want to avoid crowds?)</label>
                 <br>
                 <input type="radio" name="class_size" value="1" required>Doesn't matter.
                 <input type="radio" name="class_size" value="5">Meh.
                 <input type="radio" name="class_size" value="10">Super important!
                </div>
                <div class="form-group">
                 <label for="class_schedule">Class schedule? (do you need a wide range of class times?)</label>
                  <br>
                  <input type="radio" name="class_schedule" value="1" required>Doesn't matter.
                  <input type="radio" name="class_schedule" value="5">Meh.
                  <input type="radio" name="class_schedule" value="10">Super important!
                </div>
                <div class="form-group">
                 <label for="class_pace">Class pace? (the intenser the better?)</label>
                  <br>
                  <input type="radio" name="class_pace" value="1" required>Doesn't matter.
                  <input type="radio" name="class_pace" value="5">Meh.
                  <input type="radio" name="class_pace" value="10">Super important!
                </div>
                <button type="submit" class="btn btn-default btn-success btn-block" id="prefsubmit">Update</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
            </div>
          </div>
        </div>
      </div> 

</div>
</div> <!-- closing row -->


<div class="row">
<div class="col-xs-12 col-md-6 col-lg-push-1 col-lg-9" class="table" id="my_reviews_table">
    <table class="table table-bordered table-condensed"> 
    <caption><h4>My Reviews:</h4></caption>
    <tr>
      <th>Studio Name</th>
      <th>Amenities Rating</th>
      <th>Cleanliness Rating</th>
      <th>Class Size Rating</th>
      <th>Schedule Rating</th>
      <th>Pace Rating</th>
    </tr>
    {% for review in reviews[:10:2] %}
    <tr>
        <td style="font-weight:bold"><a href="/studios/{{ review.studio_id }}">{{ review.studio.name }}</a></td>
        <td>{{ review.amenities_rating }}</td>
        <td>{{ review.cleanliness_rating }}</td>
        <td>{{ review.class_size_rating }}</td>
        <td>{{ review.schedule_rating }}</td>
        <td>{{ review.pace_rating }}</td>
    </tr>
    {% endfor %}
    </table>
</div>
</div> <!-- closing row -->
<div class="row">
<div class="col-xs-12 col-md-6 col-lg-push-1 col-lg-6" class="table" id="my_instructor_reviews">
    <table class="table table-bordered table-condensed"> 
    <caption><h4>My Instructor Reviews:</caption></h4>
    <tr>
      <th>Instructor Name</th>
      <th>Studio Name</th>
      <th>Rating</th>
    </tr>
    {% for review in instructor_reviews %}
    {% if review.instructor.name %}
    <tr>
        <td>{{ review.instructor.name }}</td>
        <td>{{ review.instructor.studio.name }}</td>
        <td>{{ review.rating }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</div>
</div> <!--closing row-->

</div> <!--closing container -->

<script>

        function checkPreferences() {
            $.get('/preferences.json', function (results) {
                var preferences = results;
                var amenities = String(preferences.amenities_pref);
                $("input[name='amenities'][value="+amenities+"]").prop('checked', true);
                var cleanliness= String(preferences.cleanliness_pref);
                $("input[name='cleanliness'][value="+cleanliness+"]").prop('checked', true);
                var class_size = String(preferences.class_size_pref);
                $("input[name='class_size'][value="+class_size+"]").prop('checked', true);
                var class_schedule = String(preferences.class_schedule_pref);
                $("input[name='class_schedule'][value="+class_schedule+"]").prop('checked', true);
                var class_pace = String(preferences.class_pace_pref);
                $("input[name='class_pace'][value="+class_pace+"]").prop('checked', true);
            });
        }

        $('#prefbtn').on('click', checkPreferences);
        //get form inputs and send to server via AJAX
        function getInputs(evt) {
            evt.preventDefault();
            var data = {
                        "amenities": $("input[name=amenities]:checked").val(),
                        "cleanliness": $("input[name=cleanliness]:checked").val(),
                        "class_size": $("input[name=class_size]:checked").val(),
                        "class_schedule": $("input[name=class_schedule]:checked").val(),
                        "class_pace": $("input[name=class_pace]:checked").val()
                        }
           
            $.post('/preferences', data, function () {
                $("#myModal").modal("hide");
            });
        }

        $('#prefsubmit').on('click', getInputs);
</script>


{% endblock %}