{% extends 'base.html' %}
{% block content %}


<h3>{{ first_name }} {{ last_name }}</h3>
<h4>{{ city }}, {{ state }}</h4>

<div>
    <h5>My Favorite Studios:</h5>
    <ul>
    {% for favorite in favorites %}
    <a href="/studios/{{ favorite.studio_id }}">
        <p style="font-weight:bold"><span style="color:red" class="glyphicon glyphicon-heart"></span> {{ favorite.studio.name }}</p>
    </a>
    <span id="notes"></span>
    {% endfor %}
    </ul>
</div>

<div>
    <h5>My Reviews:</h5>
    {% for review in reviews %}
    <ul>
        <li style="font-weight:bold"><a href="/studios/{{ review.studio_id }}">{{ review.studio.name }}</a></li>
        <li>Overall rating: {{ review.overall_rating }}</li>
        <li>Amenities rating: {{ review.amenities_rating }}</li>
        <li>Cleanliness rating: {{ review.cleanliness_rating }}</li>
        <li>Class size rating: {{ review.class_size_rating }}</li>
        <li>Schedule rating: {{ review.schedule_rating }}</li>
        <li>Pace rating: {{ review.pace_rating }}</li>
    </ul>
    {% endfor %}
    <h5>My Instructor Reviews:</h5>
    {% for review in instructor_reviews %}
    {% if review.instructor.name %}
    <ul>
        <li>{{ review.instructor.name }}</li>
        <li>{{ review.instructor.studio.name }}</li>
        <li>{{ review.rating }}</li>
    </ul>
    {% endif %}
    {% endfor %}
    
</div>


{% endblock %}